html {
  font-size: 62.5%;
}

body {
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  padding: 5rem;
}

#toDoList {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 50%;
  gap: 1rem;
  border: darkgray solid 0.2rem;
}

.header {
  padding: 0.5rem;
}

.addContainer {
  display: flex;
}

.taskAdd {
  border: hidden;
  font-style: italic;
  color: gray;
  flex: 1;
}

.taskAdd::placeholder {
  color: lightgrey;
  padding-left: 0.5rem;
}

#btnAdd {
  margin-right: 1rem;
  padding: 0 1rem;
}

#taskList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#taskList div {
  border-bottom: gainsboro solid 0.2rem;
  padding: 0.5rem;
  display: flex;
}

#taskList input {
  border: none;
}

#taskList button {
  margin-left: auto;
}

.footer {
  text-align: center;
  background-color: gainsboro;
  padding: 1rem;
  border-top: darkgray solid 0.2rem;
  margin-top: -1.1rem;
}
